$header-height: 4rem;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Ubuntu', tahoma, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: $header-height;
  min-height: $header-height;
  max-height: $header-height;
}

main {
  display: flex;
  flex-grow: 1;
  max-height: calc(100vh - $header-height);
}
